html {
    font-size: 2em;
    background: url('img/background4.jpg') repeat center;
    background-size: contain;
    height: 100vh; /*Full view port*/
}


body,
html {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}


body {
    display: flex;
    height: 100%; /*Always span across whole html box*/
    flex-direction: column;
    align-items: center;
}


.top-plane {
    width: 100%;
    min-width: fit-content; /*Always span across body, but never squeeze content*/
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.top-plane h1 {
    color: #AA6F39;
    font-family: serif;
    width: 50%;
    min-width: fit-content; /*50% width of .top-plane, never squeeze*/
    text-align: center;
    background-image: url('img/background3.jpg');
    border-radius: 1em;
    border: #2D882D solid 5px;
    margin: 0 auto;
    font-size: 6vmin;
}


.top-plane #mute {
    border: none;
    justify-self: end;
    margin-right: 1%; /*No need set size, will follow .top-plane*/
}


.mid-plane{
    display: flex;
    width: 50%;
    min-width: fit-content; /*50% of body, force unused spaces at both sides*/
}


.mid-plane .player-panel,
.mid-plane .computer-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0; /*Always fill whole .mid-plane flexbox*/
    /*flex-basis 0, always want equal size of both panels*/
}


.mid-plane .player-panel .A,
.mid-plane .computer-panel .A{
    display: flex;
    width: 100%; /*Of .mid-plane .player or computer-panel flexbox*/
    min-width: fit-content;
    justify-content: space-around;
}


.mid-plane .A,
.mid-plane .B {
    flex: 1 1 0; /*flex-basis 0, want two scissors in line*/
}


.mid-plane .C {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
}


.mid-plane .C.player {
    background-color: #55AA55;
} 


.mid-plane .C.computer {
    background-color: #88CC88;
}


img {
    max-height: 5em;
    min-height: 1em;
    width: auto;
    height: auto;
    border: #2D882D solid 5px;
    border-radius: 1em;
}


img.clickable {
    cursor: pointer; /*Cursor changes to pointer upon hover*/
}


img.clickable:hover {
    transform: scale(1.2);
    transition: all 0.4s;
}


.bottom-plane {
    display: flex;
    flex-direction: column;
    width: 70%;
}


.bottom-plane .result {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}


.bottom-plane .result .score {
    border: #2D882D solid 5px;
    margin: 0 2%;
    width: 2em;
    line-height: 2em;
    text-align: center;
}


.bottom-plane .result .score.player {
    background-color: #55AA55
}


.bottom-plane .result .score.computer {
    background-color: #88CC88
}


.bottom-plane,
.mid-plane,
.top-plane {
    flex: 1 1 auto;
}


/*Styling for pop-up window*/
.pop-up {
    position: fixed;
    top: 50%;
    left: 50%; /*Of whole screen*/
    transform: translate(-50%, -50%); /*Of size of container, scale(0) invisible by default*/
    border: solid #2D882D 3px;
    border-radius: 20px;
    z-index: 10; /*Put a large number, so always appear on top of other elements*/
    background-color: #88cc88;
    width: 500px;
    max-width: 80%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}


.pop-up-heading {
    padding: 10px;
    font-size: 1.25rem;
}


.pop-up-button {
    cursor: pointer;
    font-size: 1rem;
    max-width: fit-content;
    align-self: center;
    border-radius: 10px;
    border: solid #2D882D 3px;
}


.pop-up-button:hover {
    background-color: #88cc88;
    transition: all 0.5s;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /*These four declarations push the box to whole screen*/
    background-color: rgba(0, 0, 0, 0.5);
}