html {
    font-size: 2em;
}


body,
html {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background: url('img/background4.jpg') repeat-x center;
    background-size: contain;
}


.top-plane {
    min-width: 100%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}


h1 {
    color: #AA6F39;
    font-family: serif;
    width: 50%;
    min-width: fit-content;
    text-align: center;
    background-image: url('img/background3.jpg');
    border-radius: 1em;
    border: #2D882D solid 5px;
    margin: 0 auto;
}


img {
    height: 85%;
    border: #2D882D solid 5px;
    border-radius: 1em;
}


#mute {
    border: none;
    justify-self: end;
    margin-right: 1%;
}


.mid-plane{
    display: flex;
    min-width: 100%;
    justify-content: space-evenly;
}


.player-panel,
.computer-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
}


.A{
    display: flex;
    min-width: 100%;
    justify-content: space-around;
}


.bottom-plane {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}


.people,
.result {
    display: flex;
}


.people div {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.5em;
    font-family: serif;
}


.people .player {
    background-color: #55AA55;
    text-align:center;
} 


.people .PC {
    background-color: #88CC88;
}


.result {
    justify-content: space-between;
    margin-top: 1%;
}


.bottom-plane,
.mid-plane,
.top-plane {
    flex: 1 1 auto;
}


.score {
    border: #2D882D solid 5px;
    margin: 0 2%;
    width: 2%;
    height: 2%;
    text-align: center;
}


.score.player {
    background-color: #55AA55
}


.score.computer {
    background-color: #88CC88
}